name: Latest blog post workflow
on:
  schedule: # Runs every 12 hours to avoid rate limiting
    - cron: '0 */12 * * *'
  workflow_dispatch: # Allows you to run it manually

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://rss-proxy.cloudflare-31afe.workers.dev"
